In [1]:
import pandas as pd
import numpy as np

# Reading the datasets and performing operations on dataframes

In [2]:
data=pd.read_csv('April_2021.csv')
data

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-Apr-21,0.0,24.4,41.9,10.6,28.8,0.0,10.3
1,Adilabad,Adilabad Rural,02-Apr-21,0.0,26.2,37.7,11.0,26.3,0.0,11.2
2,Adilabad,Adilabad Rural,03-Apr-21,0.0,22.3,38.8,9.5,38.3,0.0,9.4
3,Adilabad,Adilabad Rural,04-Apr-21,0.0,21.3,39.9,7.9,29.2,0.0,6.3
4,Adilabad,Adilabad Rural,05-Apr-21,0.0,24.1,38.7,8.7,45.7,0.0,6.3
...,...,...,...,...,...,...,...,...,...,...
17665,Yadadri Bhuvanagiri,Yadagirigutta,26-Apr-21,0.0,23.7,39.5,26.3,63.8,0.0,6.2
17666,Yadadri Bhuvanagiri,Yadagirigutta,27-Apr-21,0.0,26.0,39.1,19.0,52.2,0.0,5.5
17667,Yadadri Bhuvanagiri,Yadagirigutta,28-Apr-21,0.0,24.9,41.2,18.5,63.4,0.0,7.7
17668,Yadadri Bhuvanagiri,Yadagirigutta,29-Apr-21,0.0,24.9,39.7,27.1,57.3,0.0,1.5
17669,Yadadri Bhuvanagiri,Yadagirigutta,30-Apr-21,0.0,24.0,40.9,21.5,53.2,0.0,5.0

In [3]:
data['Date'].unique

<bound method Series.unique of 0        01-Apr-21
1        02-Apr-21
2        03-Apr-21
3        04-Apr-21
4        05-Apr-21
           ...
17665    26-Apr-21
17666    27-Apr-21
17667    28-Apr-21
17668    29-Apr-21
17669    30-Apr-21
Name: Date, Length: 17670, dtype: object>

In [4]:
data.dtypes

District                  object
Mandal                    object
Date                      object
Rain (mm)                float64
Min Temp (°C)            float64
Max Temp (°C)            float64
Min Humidity (%)         float64
Max Humidity (%)         float64
Min Wind Speed (Kmph)    float64
Max Wind Speed (Kmph)    float64
dtype: object

In [5]:
ar=data['Date'].str.replace('Apr','4')
data['Date']=ar
data

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-4-21,0.0,24.4,41.9,10.6,28.8,0.0,10.3
1,Adilabad,Adilabad Rural,02-4-21,0.0,26.2,37.7,11.0,26.3,0.0,11.2
2,Adilabad,Adilabad Rural,03-4-21,0.0,22.3,38.8,9.5,38.3,0.0,9.4
3,Adilabad,Adilabad Rural,04-4-21,0.0,21.3,39.9,7.9,29.2,0.0,6.3
4,Adilabad,Adilabad Rural,05-4-21,0.0,24.1,38.7,8.7,45.7,0.0,6.3
...,...,...,...,...,...,...,...,...,...,...
17665,Yadadri Bhuvanagiri,Yadagirigutta,26-4-21,0.0,23.7,39.5,26.3,63.8,0.0,6.2
17666,Yadadri Bhuvanagiri,Yadagirigutta,27-4-21,0.0,26.0,39.1,19.0,52.2,0.0,5.5
17667,Yadadri Bhuvanagiri,Yadagirigutta,28-4-21,0.0,24.9,41.2,18.5,63.4,0.0,7.7
17668,Yadadri Bhuvanagiri,Yadagirigutta,29-4-21,0.0,24.9,39.7,27.1,57.3,0.0,1.5
17669,Yadadri Bhuvanagiri,Yadagirigutta,30-4-21,0.0,24.0,40.9,21.5,53.2,0.0,5.0

In [6]:
data1=pd.read_excel('Jan_to_Mar_2021.xlsx')
data1

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Bheempoor,2021-01-01,0.0,10.1,30.0,37.8,95.7,0.0,3.1
1,Adilabad,Bheempoor,2021-01-02,0.0,11.7,29.9,40.6,96.6,0.0,2.2
2,Adilabad,Bheempoor,2021-01-03,0.0,10.4,30.4,45.8,97.0,0.0,2.2
3,Adilabad,Bheempoor,2021-01-04,0.0,13.1,30.5,38.4,96.4,0.0,2.0
4,Adilabad,Bheempoor,2021-01-05,0.0,13.4,29.8,50.7,97.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...
53005,Narayanpet,Kosgi,2021-03-27,6.0,22.7,38.4,11.9,51.6,NaN,NaN
53006,Narayanpet,Kosgi,2021-03-28,0.0,22.0,38.7,9.3,73.5,NaN,NaN
53007,Narayanpet,Kosgi,2021-03-29,0.0,22.1,38.6,9.4,70.1,NaN,NaN
53008,Narayanpet,Kosgi,2021-03-30,0.0,22.7,40.0,10.1,62.2,NaN,NaN
53009,Narayanpet,Kosgi,2021-03-31,0.0,22.2,38.6,10.8,63.3,NaN,NaN

In [7]:
import pandas as pd
data2=pd.read_csv('TS weather data August 2021.csv')
data2

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-Aug-21,0.0,25.0,31.9,54.8,76.4,2.6,11.7
1,Adilabad,Adilabad Rural,02-Aug-21,0.5,24.4,31.5,56.5,72.8,2.3,15.2
2,Adilabad,Adilabad Rural,03-Aug-21,7.0,23.5,32.4,53.7,100.0,0.0,15.1
3,Adilabad,Adilabad Rural,04-Aug-21,7.8,24.0,31.2,62.2,99.8,0.0,14.8
4,Adilabad,Adilabad Rural,05-Aug-21,2.5,24.0,33.6,58.5,100.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...
18409,Yadadri Bhuvanagiri,Yadagirigutta,27-Aug-21,3.0,23.4,33.9,72.0,99.5,0.0,3.1
18410,Yadadri Bhuvanagiri,Yadagirigutta,28-Aug-21,4.7,24.1,32.0,71.0,99.2,0.0,3.4
18411,Yadadri Bhuvanagiri,Yadagirigutta,29-Aug-21,0.4,23.2,31.9,75.7,98.7,0.0,4.6
18412,Yadadri Bhuvanagiri,Yadagirigutta,30-Aug-21,81.5,22.2,33.0,71.0,98.9,0.0,8.8
18413,Yadadri Bhuvanagiri,Yadagirigutta,31-Aug-21,29.1,22.9,27.2,78.8,99.1,0.0,2.8

In [8]:
au=data2['Date'].str.replace('Aug','8')
data2['Date']=au
data2

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-8-21,0.0,25.0,31.9,54.8,76.4,2.6,11.7
1,Adilabad,Adilabad Rural,02-8-21,0.5,24.4,31.5,56.5,72.8,2.3,15.2
2,Adilabad,Adilabad Rural,03-8-21,7.0,23.5,32.4,53.7,100.0,0.0,15.1
3,Adilabad,Adilabad Rural,04-8-21,7.8,24.0,31.2,62.2,99.8,0.0,14.8
4,Adilabad,Adilabad Rural,05-8-21,2.5,24.0,33.6,58.5,100.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...
18409,Yadadri Bhuvanagiri,Yadagirigutta,27-8-21,3.0,23.4,33.9,72.0,99.5,0.0,3.1
18410,Yadadri Bhuvanagiri,Yadagirigutta,28-8-21,4.7,24.1,32.0,71.0,99.2,0.0,3.4
18411,Yadadri Bhuvanagiri,Yadagirigutta,29-8-21,0.4,23.2,31.9,75.7,98.7,0.0,4.6
18412,Yadadri Bhuvanagiri,Yadagirigutta,30-8-21,81.5,22.2,33.0,71.0,98.9,0.0,8.8
18413,Yadadri Bhuvanagiri,Yadagirigutta,31-8-21,29.1,22.9,27.2,78.8,99.1,0.0,2.8

In [9]:
import pandas as pd
data3=pd.read_csv('TS weather data June 2021.csv')
data3

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-Jun-21,7.5,26.8,37.2,27.9,68.5,0.2,7.0
1,Adilabad,Adilabad Rural,02-Jun-21,5.3,23.7,36.3,32.7,85.6,0.0,4.2
2,Adilabad,Adilabad Rural,03-Jun-21,0.0,25.3,33.3,48.6,84.2,0.0,2.0
3,Adilabad,Adilabad Rural,04-Jun-21,0.0,27.5,35.8,38.5,57.9,0.3,3.7
4,Adilabad,Adilabad Rural,05-Jun-21,20.5,23.5,32.8,39.0,88.4,0.0,8.7
...,...,...,...,...,...,...,...,...,...,...
17815,Yadadri Bhuvanagiri,Yadagirigutta,26-Jun-21,0.0,25.2,32.6,47.9,62.6,0.0,3.4
17816,Yadadri Bhuvanagiri,Yadagirigutta,27-Jun-21,27.6,22.4,35.9,38.7,98.8,0.0,2.5
17817,Yadadri Bhuvanagiri,Yadagirigutta,28-Jun-21,20.7,22.9,31.0,76.3,98.5,0.0,3.8
17818,Yadadri Bhuvanagiri,Yadagirigutta,29-Jun-21,0.0,23.7,32.0,71.1,98.3,0.0,3.3
17819,Yadadri Bhuvanagiri,Yadagirigutta,30-Jun-21,0.0,25.5,35.6,47.3,96.4,0.0,2.6

In [10]:
ju=data3['Date'].str.replace('Jun','6')
data3['Date']=ju
data3

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-6-21,7.5,26.8,37.2,27.9,68.5,0.2,7.0
1,Adilabad,Adilabad Rural,02-6-21,5.3,23.7,36.3,32.7,85.6,0.0,4.2
2,Adilabad,Adilabad Rural,03-6-21,0.0,25.3,33.3,48.6,84.2,0.0,2.0
3,Adilabad,Adilabad Rural,04-6-21,0.0,27.5,35.8,38.5,57.9,0.3,3.7
4,Adilabad,Adilabad Rural,05-6-21,20.5,23.5,32.8,39.0,88.4,0.0,8.7
...,...,...,...,...,...,...,...,...,...,...
17815,Yadadri Bhuvanagiri,Yadagirigutta,26-6-21,0.0,25.2,32.6,47.9,62.6,0.0,3.4
17816,Yadadri Bhuvanagiri,Yadagirigutta,27-6-21,27.6,22.4,35.9,38.7,98.8,0.0,2.5
17817,Yadadri Bhuvanagiri,Yadagirigutta,28-6-21,20.7,22.9,31.0,76.3,98.5,0.0,3.8
17818,Yadadri Bhuvanagiri,Yadagirigutta,29-6-21,0.0,23.7,32.0,71.1,98.3,0.0,3.3
17819,Yadadri Bhuvanagiri,Yadagirigutta,30-6-21,0.0,25.5,35.6,47.3,96.4,0.0,2.6

In [11]:
import pandas as pd
data4=pd.read_csv('TS weather data July 2021.csv')

In [12]:
j=data4['Date'].str.replace('Jul','7')
data4['Date']=j
data4

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-7-21,16.8,24.7,35.4,54.9,95.3,0.0,2.5
1,Adilabad,Adilabad Rural,02-7-21,17.0,25.7,35.2,49.8,82.5,0.3,3.3
2,Adilabad,Adilabad Rural,03-7-21,0.0,26.3,33.5,57.0,86.4,0.2,2.5
3,Adilabad,Adilabad Rural,04-7-21,0.0,26.3,36.7,39.0,84.1,0.0,2.1
4,Adilabad,Adilabad Rural,05-7-21,0.0,28.0,36.4,42.5,75.8,0.0,1.9
...,...,...,...,...,...,...,...,...,...,...
18409,Yadadri Bhuvanagiri,Yadagirigutta,27-7-21,0.0,24.2,32.5,53.7,93.4,0.0,8.8
18410,Yadadri Bhuvanagiri,Yadagirigutta,28-7-21,0.0,24.3,32.3,51.7,87.9,0.0,5.0
18411,Yadadri Bhuvanagiri,Yadagirigutta,29-7-21,0.0,24.7,32.5,49.8,63.2,0.0,5.9
18412,Yadadri Bhuvanagiri,Yadagirigutta,30-7-21,0.3,24.7,29.9,56.4,82.6,0.0,6.4
18413,Yadadri Bhuvanagiri,Yadagirigutta,31-7-21,0.0,24.8,32.9,52.0,63.2,0.0,4.6

In [13]:
import pandas as pd
data5=pd.read_csv('TS weather data May 2021.csv')
data5

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-May-21,0.0,26.8,39.3,0.0,0.0,0.0,0.0
1,Adilabad,Adilabad Rural,01-May-21,0.0,26.8,39.3,12.1,59.3,0.0,6.4
2,Adilabad,Adilabad Rural,02-May-21,0.0,24.0,38.7,0.0,0.0,0.0,0.0
3,Adilabad,Adilabad Rural,02-May-21,0.0,24.0,38.7,16.1,71.3,0.0,4.9
4,Adilabad,Adilabad Rural,03-May-21,0.0,24.1,34.1,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
27726,Yadadri Bhuvanagiri,Yadagirigutta,27-May-21,0.0,28.5,40.5,20.0,45.0,0.0,6.5
27727,Yadadri Bhuvanagiri,Yadagirigutta,28-May-21,2.2,27.4,41.2,25.2,59.2,0.0,3.8
27728,Yadadri Bhuvanagiri,Yadagirigutta,29-May-21,0.0,28.7,39.6,29.7,57.6,0.0,5.0
27729,Yadadri Bhuvanagiri,Yadagirigutta,30-May-21,0.5,25.7,39.5,26.5,62.8,0.0,12.7
27730,Yadadri Bhuvanagiri,Yadagirigutta,31-May-21,0.0,28.2,40.4,28.8,57.8,0.0,0.9

In [14]:
m=data5['Date'].str.replace('May','5')
data5['Date']=m
data5

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-5-21,0.0,26.8,39.3,0.0,0.0,0.0,0.0
1,Adilabad,Adilabad Rural,01-5-21,0.0,26.8,39.3,12.1,59.3,0.0,6.4
2,Adilabad,Adilabad Rural,02-5-21,0.0,24.0,38.7,0.0,0.0,0.0,0.0
3,Adilabad,Adilabad Rural,02-5-21,0.0,24.0,38.7,16.1,71.3,0.0,4.9
4,Adilabad,Adilabad Rural,03-5-21,0.0,24.1,34.1,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
27726,Yadadri Bhuvanagiri,Yadagirigutta,27-5-21,0.0,28.5,40.5,20.0,45.0,0.0,6.5
27727,Yadadri Bhuvanagiri,Yadagirigutta,28-5-21,2.2,27.4,41.2,25.2,59.2,0.0,3.8
27728,Yadadri Bhuvanagiri,Yadagirigutta,29-5-21,0.0,28.7,39.6,29.7,57.6,0.0,5.0
27729,Yadadri Bhuvanagiri,Yadagirigutta,30-5-21,0.5,25.7,39.5,26.5,62.8,0.0,12.7
27730,Yadadri Bhuvanagiri,Yadagirigutta,31-5-21,0.0,28.2,40.4,28.8,57.8,0.0,0.9

# DATA CLEANING

In [15]:
data.shape

(17670, 10)

In [16]:
data.dtypes

District                  object
Mandal                    object
Date                      object
Rain (mm)                float64
Min Temp (°C)            float64
Max Temp (°C)            float64
Min Humidity (%)         float64
Max Humidity (%)         float64
Min Wind Speed (Kmph)    float64
Max Wind Speed (Kmph)    float64
dtype: object

In [17]:
data[data.notnull()].count()

District                 17670
Mandal                   17670
Date                     17670
Rain (mm)                17670
Min Temp (°C)            17670
Max Temp (°C)            17670
Min Humidity (%)         17670
Max Humidity (%)         17670
Min Wind Speed (Kmph)    17670
Max Wind Speed (Kmph)    17670
dtype: int64

In [18]:
data.head()

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-4-21,0.0,24.4,41.9,10.6,28.8,0.0,10.3
1,Adilabad,Adilabad Rural,02-4-21,0.0,26.2,37.7,11.0,26.3,0.0,11.2
2,Adilabad,Adilabad Rural,03-4-21,0.0,22.3,38.8,9.5,38.3,0.0,9.4
3,Adilabad,Adilabad Rural,04-4-21,0.0,21.3,39.9,7.9,29.2,0.0,6.3
4,Adilabad,Adilabad Rural,05-4-21,0.0,24.1,38.7,8.7,45.7,0.0,6.3

## Dropping min and max wind speeds

In [19]:
data.drop('Min Wind Speed (Kmph)',axis=1,inplace=True)
data1.drop('Min Wind Speed (Kmph)',axis=1,inplace=True)
data2.drop('Min Wind Speed (Kmph)',axis=1,inplace=True)
data3.drop('Min Wind Speed (Kmph)',axis=1,inplace=True)
data4.drop('Min Wind Speed (Kmph)',axis=1,inplace=True)
data5.drop('Min Wind Speed (Kmph)',axis=1,inplace=True)

In [20]:
data3['Max Wind Speed (Kmph)'].unique()

array([ 7. ,  4.2,  2. ,  3.7,  8.7,  2.3,  3.5,  3.8,  4.5,  2.5,  3.1,
        2.8,  4.7,  3.4,  4.3,  2.4,  2.7,  3. ,  1.8,  2.6,  3.9,  3.3,
        8. ,  7.7,  7.4, 11.2,  8.3,  6.4,  8.5,  9.7,  7.2,  5.8,  8.8,
        9.5,  7.3,  4.4,  8.1,  4.1,  4.6,  5.7,  6.1,  2.2,  0.1,  6. ,
        7.5,  4. ,  9.1,  9.4,  1.3,  3.2,  8.4,  6.2,  5.4,  2.1,  1.6,
        5. ,  3.6,  1.4,  2.9,  6.5,  1.5,  1.9,  6.9,  6.8, 10.4,  8.9,
        7.9,  6.7, 24.8,  9.9,  1.2,  1.7, 10. ,  9. ,  9.8,  1. , 14.3,
       13.3, 12.9, 15.1,  5.6, 14.5, 15.7, 11.1, 14.4, 13.4, 13.1, 20. ,
       12.6, 14.6, 12.1, 15.2, 17.7, 12. , 12.5, 15.3, 17. , 12.3,  7.1,
       10.7, 10.3, 10.8, 15.8, 13.7, 11.4, 13. , 15. , 12.7, 11.3, 14.7,
       47.1, 17.1, 22.7, 11.5, 14.2, 16.7, 18.5, 15.5, 18.1, 16.5, 11.7,
       13.9,  9.2, 10.9, 22.8,  5.5,  9.6,  9.3, 10.6,  4.9,  8.6, 10.2,
       13.6, 15.4,  5.1, 12.4, 11. , 29. ,  5.9,  5.3,  7.8, 17.8, 22.5,
       18.4, 17.3,  6.3, 16.1, 17.4, 25.2, 17.6, 18.2, 16. , 17.9, 10.5,
       14. , 14.9,  1.1,  0.6,  0.5,  0.2,  0.4,  0.3,  6.6,  7.6,  4.8,
       10.1,  5.2, 28.7, 40. , 23.1, 18.9, 19.3, 12.8, 26.2, 28.2, 20.3,
       26.4, 15.6, 23.3, 20.8, 23.6, 19.2, 16.6, 16.8, 18.7, 23.9, 21.5,
       21.7, 16.2,  0.8,  0.9, 12.2, 20.1, 11.9, 13.5, 11.6, 14.1, 19.5,
       14.8, 11.8, 13.2,  0.7, 31.2,  8.2, 21.2, 20.5, 16.9, 17.5, 13.8,
       18.6, 34. , 59.4, 56.5, 65.1, 41.5, 19. , 64.5, 61. , 61.1, 35.9,
       46. , 33.1, 46.8, 46.3, 34.7, 34.2, 45.5, 51.4, 33.8, 56.9, 52.9,
       60.1, 50.9, 24.3, 58.7, 25. , 51. , 48.9, 22.9, 18.8, 23.4, 22.6,
       21.4, 23.7, 24.5, 21.3, 20.4, 17.2, 22.4, 23. , 28.4, 19.6, 20.6,
       16.4, 24.6, 16.3, 22. , 31.1, 23.8, 22.3, 21. , 15.9, 21.8, 18. ,
       29.1, 22.2, 18.3, 25.3, 30. , 27.7, 25.9, 27.5, 27.8, 27.2, 24.1,
       19.9, 21.9, 24.9, 20.2, 19.1, 19.8, 23.2, 31.7, 26.5, 40.2, 19.7,
       23.5, 35. , 25.7, 21.1, 20.7, 24.4, 24.2, 22.1, 35.1, 24. , 45.3,
       25.6, 26.8, 32.4, 32.3, 31.8, 29.9, 29.4, 31. , 35.5, 26.3, 19.4,
       30.5, 27.9, 20.9, 21.6, 30.1, 28.8, 30.4, 30.9, 28.1, 30.2, 42.2,
       35.7, 36.2, 29.7, 24.7, 26.7, 28.5, 25.4, 36.1, 30.3, 55.4,  0. ,
       25.8, 27.3, 31.3, 27.6, 25.1, 28.3, 31.5, 31.6, 26. , 28.9, 26.9,
       39.6, 42.9, 25.5, 53.1, 29.6, 36.5, 64. , 54. , 45. , 43.5, 64.3,
       32.9, 26.6, 30.7, 29.3, 29.8, 27. , 38.4, 28.6, 31.4, 34.1, 28. ,
       26.1, 27.1, 30.8, 36. , 49.5, 38.5, 27.4, 42.3, 32.2, 35.8, 37.8,
       36.6, 34.5, 31.9, 34.9, 39.8, 57.9, 38.8, 36.8, 32.8, 41. , 32.6,
       35.2, 59.2, 34.6, 33.4, 49. , 54.3, 33.2, 59.8, 62.7, 47.6, 53.9,
       39.3, 60.7, 64.7, 47.5, 49.9, 50.8, 50.4, 33.5, 37.4, 45.6, 51.8,
       29.2, 61.4, 37.3, 53.5, 67.6, 34.3, 40.4])

In [21]:
data.drop('Max Wind Speed (Kmph)',axis=1,inplace=True)
data1.drop('Max Wind Speed (Kmph)',axis=1,inplace=True)
data2.drop('Max Wind Speed (Kmph)',axis=1,inplace=True)
data3.drop('Max Wind Speed (Kmph)',axis=1,inplace=True)
data4.drop('Max Wind Speed (Kmph)',axis=1,inplace=True)
data5.drop('Max Wind Speed (Kmph)',axis=1,inplace=True)

In [22]:
data

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Adilabad Rural,01-4-21,0.0,24.4,41.9,10.6,28.8
1,Adilabad,Adilabad Rural,02-4-21,0.0,26.2,37.7,11.0,26.3
2,Adilabad,Adilabad Rural,03-4-21,0.0,22.3,38.8,9.5,38.3
3,Adilabad,Adilabad Rural,04-4-21,0.0,21.3,39.9,7.9,29.2
4,Adilabad,Adilabad Rural,05-4-21,0.0,24.1,38.7,8.7,45.7
...,...,...,...,...,...,...,...,...
17665,Yadadri Bhuvanagiri,Yadagirigutta,26-4-21,0.0,23.7,39.5,26.3,63.8
17666,Yadadri Bhuvanagiri,Yadagirigutta,27-4-21,0.0,26.0,39.1,19.0,52.2
17667,Yadadri Bhuvanagiri,Yadagirigutta,28-4-21,0.0,24.9,41.2,18.5,63.4
17668,Yadadri Bhuvanagiri,Yadagirigutta,29-4-21,0.0,24.9,39.7,27.1,57.3
17669,Yadadri Bhuvanagiri,Yadagirigutta,30-4-21,0.0,24.0,40.9,21.5,53.2

In [23]:
data1

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Bheempoor,2021-01-01,0.0,10.1,30.0,37.8,95.7
1,Adilabad,Bheempoor,2021-01-02,0.0,11.7,29.9,40.6,96.6
2,Adilabad,Bheempoor,2021-01-03,0.0,10.4,30.4,45.8,97.0
3,Adilabad,Bheempoor,2021-01-04,0.0,13.1,30.5,38.4,96.4
4,Adilabad,Bheempoor,2021-01-05,0.0,13.4,29.8,50.7,97.0
...,...,...,...,...,...,...,...,...
53005,Narayanpet,Kosgi,2021-03-27,6.0,22.7,38.4,11.9,51.6
53006,Narayanpet,Kosgi,2021-03-28,0.0,22.0,38.7,9.3,73.5
53007,Narayanpet,Kosgi,2021-03-29,0.0,22.1,38.6,9.4,70.1
53008,Narayanpet,Kosgi,2021-03-30,0.0,22.7,40.0,10.1,62.2
53009,Narayanpet,Kosgi,2021-03-31,0.0,22.2,38.6,10.8,63.3

In [24]:
data2

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Adilabad Rural,01-8-21,0.0,25.0,31.9,54.8,76.4
1,Adilabad,Adilabad Rural,02-8-21,0.5,24.4,31.5,56.5,72.8
2,Adilabad,Adilabad Rural,03-8-21,7.0,23.5,32.4,53.7,100.0
3,Adilabad,Adilabad Rural,04-8-21,7.8,24.0,31.2,62.2,99.8
4,Adilabad,Adilabad Rural,05-8-21,2.5,24.0,33.6,58.5,100.0
...,...,...,...,...,...,...,...,...
18409,Yadadri Bhuvanagiri,Yadagirigutta,27-8-21,3.0,23.4,33.9,72.0,99.5
18410,Yadadri Bhuvanagiri,Yadagirigutta,28-8-21,4.7,24.1,32.0,71.0,99.2
18411,Yadadri Bhuvanagiri,Yadagirigutta,29-8-21,0.4,23.2,31.9,75.7,98.7
18412,Yadadri Bhuvanagiri,Yadagirigutta,30-8-21,81.5,22.2,33.0,71.0,98.9
18413,Yadadri Bhuvanagiri,Yadagirigutta,31-8-21,29.1,22.9,27.2,78.8,99.1

In [25]:
data3

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Adilabad Rural,01-6-21,7.5,26.8,37.2,27.9,68.5
1,Adilabad,Adilabad Rural,02-6-21,5.3,23.7,36.3,32.7,85.6
2,Adilabad,Adilabad Rural,03-6-21,0.0,25.3,33.3,48.6,84.2
3,Adilabad,Adilabad Rural,04-6-21,0.0,27.5,35.8,38.5,57.9
4,Adilabad,Adilabad Rural,05-6-21,20.5,23.5,32.8,39.0,88.4
...,...,...,...,...,...,...,...,...
17815,Yadadri Bhuvanagiri,Yadagirigutta,26-6-21,0.0,25.2,32.6,47.9,62.6
17816,Yadadri Bhuvanagiri,Yadagirigutta,27-6-21,27.6,22.4,35.9,38.7,98.8
17817,Yadadri Bhuvanagiri,Yadagirigutta,28-6-21,20.7,22.9,31.0,76.3,98.5
17818,Yadadri Bhuvanagiri,Yadagirigutta,29-6-21,0.0,23.7,32.0,71.1,98.3
17819,Yadadri Bhuvanagiri,Yadagirigutta,30-6-21,0.0,25.5,35.6,47.3,96.4

In [26]:
data4

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Adilabad Rural,01-7-21,16.8,24.7,35.4,54.9,95.3
1,Adilabad,Adilabad Rural,02-7-21,17.0,25.7,35.2,49.8,82.5
2,Adilabad,Adilabad Rural,03-7-21,0.0,26.3,33.5,57.0,86.4
3,Adilabad,Adilabad Rural,04-7-21,0.0,26.3,36.7,39.0,84.1
4,Adilabad,Adilabad Rural,05-7-21,0.0,28.0,36.4,42.5,75.8
...,...,...,...,...,...,...,...,...
18409,Yadadri Bhuvanagiri,Yadagirigutta,27-7-21,0.0,24.2,32.5,53.7,93.4
18410,Yadadri Bhuvanagiri,Yadagirigutta,28-7-21,0.0,24.3,32.3,51.7,87.9
18411,Yadadri Bhuvanagiri,Yadagirigutta,29-7-21,0.0,24.7,32.5,49.8,63.2
18412,Yadadri Bhuvanagiri,Yadagirigutta,30-7-21,0.3,24.7,29.9,56.4,82.6
18413,Yadadri Bhuvanagiri,Yadagirigutta,31-7-21,0.0,24.8,32.9,52.0,63.2

In [27]:
data5

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Adilabad Rural,01-5-21,0.0,26.8,39.3,0.0,0.0
1,Adilabad,Adilabad Rural,01-5-21,0.0,26.8,39.3,12.1,59.3
2,Adilabad,Adilabad Rural,02-5-21,0.0,24.0,38.7,0.0,0.0
3,Adilabad,Adilabad Rural,02-5-21,0.0,24.0,38.7,16.1,71.3
4,Adilabad,Adilabad Rural,03-5-21,0.0,24.1,34.1,0.0,0.0
...,...,...,...,...,...,...,...,...
27726,Yadadri Bhuvanagiri,Yadagirigutta,27-5-21,0.0,28.5,40.5,20.0,45.0
27727,Yadadri Bhuvanagiri,Yadagirigutta,28-5-21,2.2,27.4,41.2,25.2,59.2
27728,Yadadri Bhuvanagiri,Yadagirigutta,29-5-21,0.0,28.7,39.6,29.7,57.6
27729,Yadadri Bhuvanagiri,Yadagirigutta,30-5-21,0.5,25.7,39.5,26.5,62.8
27730,Yadadri Bhuvanagiri,Yadagirigutta,31-5-21,0.0,28.2,40.4,28.8,57.8

In [28]:
data5[data5.notnull()].count()

District            27731
Mandal              27731
Date                27731
Rain (mm)           27731
Min Temp (°C)       27731
Max Temp (°C)       27731
Min Humidity (%)    27731
Max Humidity (%)    27731
dtype: int64

In [29]:
data5['Rain (mm)'].nunique()

358

In [30]:
data5[data5.isnull()].count()

District            0
Mandal              0
Date                0
Rain (mm)           0
Min Temp (°C)       0
Max Temp (°C)       0
Min Humidity (%)    0
Max Humidity (%)    0
dtype: int64

In [31]:
data[data.isnull()].count()

District            0
Mandal              0
Date                0
Rain (mm)           0
Min Temp (°C)       0
Max Temp (°C)       0
Min Humidity (%)    0
Max Humidity (%)    0
dtype: int64

In [32]:
data1[data1.isnull()].count()

District            0
Mandal              0
Date                0
Rain (mm)           0
Min Temp (°C)       0
Max Temp (°C)       0
Min Humidity (%)    0
Max Humidity (%)    0
dtype: int64

In [33]:
data2[data2.isnull()].count()

District            0
Mandal              0
Date                0
Rain (mm)           0
Min Temp (°C)       0
Max Temp (°C)       0
Min Humidity (%)    0
Max Humidity (%)    0
dtype: int64

In [34]:
data3[data3.isnull()].count()

District            0
Mandal              0
Date                0
Rain (mm)           0
Min Temp (°C)       0
Max Temp (°C)       0
Min Humidity (%)    0
Max Humidity (%)    0
dtype: int64

In [35]:
data4[data4.notnull()].count()

District            18414
Mandal              18414
Date                18414
Rain (mm)           18414
Min Temp (°C)       18414
Max Temp (°C)       18414
Min Humidity (%)    18414
Max Humidity (%)    18414
dtype: int64

In [36]:
data1[data1.notnull()].count()

District            53010
Mandal              53010
Date                53010
Rain (mm)           53010
Min Temp (°C)       53010
Max Temp (°C)       53010
Min Humidity (%)    53010
Max Humidity (%)    53010
dtype: int64

In [37]:
data1.isnull().sum()

District            0
Mandal              0
Date                0
Rain (mm)           0
Min Temp (°C)       0
Max Temp (°C)       0
Min Humidity (%)    0
Max Humidity (%)    0
dtype: int64

In [38]:
data1.isnull().any()

District            False
Mandal              False
Date                False
Rain (mm)           False
Min Temp (°C)       False
Max Temp (°C)       False
Min Humidity (%)    False
Max Humidity (%)    False
dtype: bool

In [39]:
data1

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Bheempoor,2021-01-01,0.0,10.1,30.0,37.8,95.7
1,Adilabad,Bheempoor,2021-01-02,0.0,11.7,29.9,40.6,96.6
2,Adilabad,Bheempoor,2021-01-03,0.0,10.4,30.4,45.8,97.0
3,Adilabad,Bheempoor,2021-01-04,0.0,13.1,30.5,38.4,96.4
4,Adilabad,Bheempoor,2021-01-05,0.0,13.4,29.8,50.7,97.0
...,...,...,...,...,...,...,...,...
53005,Narayanpet,Kosgi,2021-03-27,6.0,22.7,38.4,11.9,51.6
53006,Narayanpet,Kosgi,2021-03-28,0.0,22.0,38.7,9.3,73.5
53007,Narayanpet,Kosgi,2021-03-29,0.0,22.1,38.6,9.4,70.1
53008,Narayanpet,Kosgi,2021-03-30,0.0,22.7,40.0,10.1,62.2
53009,Narayanpet,Kosgi,2021-03-31,0.0,22.2,38.6,10.8,63.3

## Changing date column to date time format

In [40]:
data

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Adilabad Rural,01-4-21,0.0,24.4,41.9,10.6,28.8
1,Adilabad,Adilabad Rural,02-4-21,0.0,26.2,37.7,11.0,26.3
2,Adilabad,Adilabad Rural,03-4-21,0.0,22.3,38.8,9.5,38.3
3,Adilabad,Adilabad Rural,04-4-21,0.0,21.3,39.9,7.9,29.2
4,Adilabad,Adilabad Rural,05-4-21,0.0,24.1,38.7,8.7,45.7
...,...,...,...,...,...,...,...,...
17665,Yadadri Bhuvanagiri,Yadagirigutta,26-4-21,0.0,23.7,39.5,26.3,63.8
17666,Yadadri Bhuvanagiri,Yadagirigutta,27-4-21,0.0,26.0,39.1,19.0,52.2
17667,Yadadri Bhuvanagiri,Yadagirigutta,28-4-21,0.0,24.9,41.2,18.5,63.4
17668,Yadadri Bhuvanagiri,Yadagirigutta,29-4-21,0.0,24.9,39.7,27.1,57.3
17669,Yadadri Bhuvanagiri,Yadagirigutta,30-4-21,0.0,24.0,40.9,21.5,53.2

# Analyzation

In [41]:
data.head(20)

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Adilabad Rural,01-4-21,0.0,24.4,41.9,10.6,28.8
1,Adilabad,Adilabad Rural,02-4-21,0.0,26.2,37.7,11.0,26.3
2,Adilabad,Adilabad Rural,03-4-21,0.0,22.3,38.8,9.5,38.3
3,Adilabad,Adilabad Rural,04-4-21,0.0,21.3,39.9,7.9,29.2
4,Adilabad,Adilabad Rural,05-4-21,0.0,24.1,38.7,8.7,45.7
5,Adilabad,Adilabad Rural,06-4-21,0.0,25.0,39.1,7.7,83.7
6,Adilabad,Adilabad Rural,07-4-21,0.0,23.5,39.2,9.5,76.5
7,Adilabad,Adilabad Rural,08-4-21,0.0,25.6,40.1,12.6,51.2
8,Adilabad,Adilabad Rural,09-4-21,0.0,27.9,38.8,16.5,45.5
9,Adilabad,Adilabad Rural,10-4-21,0.0,25.2,39.7,19.3,64.7
10,Adilabad,Adilabad Rural,11-4-21,0.8,21.4,39.8,23.7,92.2
11,Adilabad,Adilabad Rural,12-4-21,0.0,22.3,32.3,44.6,83.5
12,Adilabad,Adilabad Rural,13-4-21,0.0,23.3,36.4,21.8,52.8
13,Adilabad,Adilabad Rural,14-4-21,0.0,24.0,34.7,27.0,77.6
14,Adilabad,Adilabad Rural,15-4-21,0.0,22.0,35.1,31.2,69.4
15,Adilabad,Adilabad Rural,16-4-21,0.0,21.2,36.7,18.4,69.5
16,Adilabad,Adilabad Rural,17-4-21,0.0,24.5,39.2,15.2,62.2
17,Adilabad,Adilabad Rural,18-4-21,0.0,23.3,39.6,10.7,61.7
18,Adilabad,Adilabad Rural,19-4-21,0.0,25.4,42.2,11.3,62.6
19,Adilabad,Adilabad Rural,20-4-21,0.0,26.1,39.2,11.1,54.7

In [42]:
data[data['Rain (mm)']==data['Rain (mm)'].max()]

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
16123,Wanaparthy,Madanapur,14-4-21,68.0,20.2,36.9,22.7,100.0

In [43]:
data1[data1['Rain (mm)']==data1['Rain (mm)'].max()]

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
16339,Warangal Rural,Parkal,2021-02-19,52.7,18.2,29.3,56.5,96.6

In [44]:
data2[data2['Rain (mm)']==data2['Rain (mm)'].max()]

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
10818,Nirmal,Kuntala,31-8-21,195.2,24.3,29.0,82.0,97.2

In [45]:
data3[data3['Rain (mm)']==data3['Rain (mm)'].max()]

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
17078,Warangal Urban,Hanamkonda,09-6-21,146.7,23.4,38.1,39.9,99.6

In [46]:
data4[data4['Rain (mm)']==data4['Rain (mm)'].max()]

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
5695,Kumuram Bheem,Wankdi,23-7-21,374.4,23.0,26.0,95.1,97.7

In [47]:
data5[data5['Rain (mm)']==data5['Rain (mm)'].max()]

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
26514,Warangal Urban,Elkathurthi,03-5-21,114.5,20.6,35.1,41.1,92.2

In [48]:
data1[data1['Rain (mm)']==data1['Rain (mm)'].min()]

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Bheempoor,2021-01-01,0.0,10.1,30.0,37.8,95.7
1,Adilabad,Bheempoor,2021-01-02,0.0,11.7,29.9,40.6,96.6
2,Adilabad,Bheempoor,2021-01-03,0.0,10.4,30.4,45.8,97.0
3,Adilabad,Bheempoor,2021-01-04,0.0,13.1,30.5,38.4,96.4
4,Adilabad,Bheempoor,2021-01-05,0.0,13.4,29.8,50.7,97.0
...,...,...,...,...,...,...,...,...
53004,Narayanpet,Kosgi,2021-03-26,0.0,20.7,37.4,12.8,69.2
53006,Narayanpet,Kosgi,2021-03-28,0.0,22.0,38.7,9.3,73.5
53007,Narayanpet,Kosgi,2021-03-29,0.0,22.1,38.6,9.4,70.1
53008,Narayanpet,Kosgi,2021-03-30,0.0,22.7,40.0,10.1,62.2
53009,Narayanpet,Kosgi,2021-03-31,0.0,22.2,38.6,10.8,63.3

In [49]:
import seaborn as sns
sns.scatterplot(x=data['District'],y=data['Rain (mm)'])

C:\Users\aksha\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [50]:
data.drop_duplicates()

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Adilabad Rural,01-4-21,0.0,24.4,41.9,10.6,28.8
1,Adilabad,Adilabad Rural,02-4-21,0.0,26.2,37.7,11.0,26.3
2,Adilabad,Adilabad Rural,03-4-21,0.0,22.3,38.8,9.5,38.3
3,Adilabad,Adilabad Rural,04-4-21,0.0,21.3,39.9,7.9,29.2
4,Adilabad,Adilabad Rural,05-4-21,0.0,24.1,38.7,8.7,45.7
...,...,...,...,...,...,...,...,...
17665,Yadadri Bhuvanagiri,Yadagirigutta,26-4-21,0.0,23.7,39.5,26.3,63.8
17666,Yadadri Bhuvanagiri,Yadagirigutta,27-4-21,0.0,26.0,39.1,19.0,52.2
17667,Yadadri Bhuvanagiri,Yadagirigutta,28-4-21,0.0,24.9,41.2,18.5,63.4
17668,Yadadri Bhuvanagiri,Yadagirigutta,29-4-21,0.0,24.9,39.7,27.1,57.3
17669,Yadadri Bhuvanagiri,Yadagirigutta,30-4-21,0.0,24.0,40.9,21.5,53.2

In [51]:
data['District'].unique()

array(['Adilabad', 'Bhadradri Kothagudem', 'Hyderabad', 'Jagtial',
       'Jangaon', 'Jayashankar', 'Jogulamba Gadwal', 'Kamareddy',
       'Karimnagar', 'Khammam', 'Kumuram Bheem', 'Mahabubabad',
       'Mahabubnagar', 'Mancherial', 'Medak', 'Medchal-Malkajgiri',
       'Mulugu', 'Nagarkurnool', 'Nalgonda', 'Narayanpet', 'Nirmal',
       'Nizamabad', 'Peddapalli', 'Rajanna Sircilla', 'Rangareddy',
       'Sangareddy', 'Siddipet', 'Suryapet', 'Vikarabad', 'Wanaparthy',
       'Warangal Rural', 'Warangal Urban', 'Yadadri Bhuvanagiri'],
      dtype=object)

In [52]:
data['Mandal'].unique()

array(['Adilabad Rural', 'Adilabad Urban', 'Bazarhathnoor', 'Bela',
       'Bheempoor', 'Boath', 'Gadiguda', 'Gudihathnur', 'Ichoda',
       'Inderavelly', 'Jainad', 'Mavala', 'Narnoor', 'Neradigonda',
       'Sirikonda', 'Talamadugu', 'Tamsi', 'Utnur', 'Allapalli',
       'Annapureddipalle', 'Aswapuram', 'Aswaraopeta', 'Bhadrachalam',
       'Burgampadu', 'Chandrugonda', 'Cherla', 'Chunchupally',
       'Dammapeta', 'Dummugudem', 'Gundala', 'Julurpad', 'Karakagudem',
       'Kothagudem', 'Laxmidevipalli', 'Manuguru', 'Mulakalapalle',
       'Palawancha', 'Pinapaka', 'Sujathanagar', 'Tekulapalle',
       'Yellandu', 'Amberpet', 'Ameerpet', 'Asifnagar', 'Bahadurpura',
       'Bandlaguda', 'Charminar', 'Golkonda', 'Himayatnagar',
       'Khairatabad', 'Maredpally', 'Musheerabad', 'Nampally', 'Saidabad',
       'Secunderabad', 'Shaikpet', 'Tirumalgiri', 'Beerpur', 'Buggaram',
       'Dharmapuri', 'Gollapalle', 'Ibrahimpatnam', 'Jagityal_Rural',
       'Jagtial', 'Kathlapur', 'Kodimial', 'Koratla', 'Malial',
       'Mallapur', 'Medipalle', 'Metpalle', 'Pegadapalle', 'Raikal',
       'Sarangapur', 'Velgatoor', 'Bachannapeta', 'Chilpur',
       'Devaruppala', 'Ganpur_Stn', 'Jangaon', 'Kodakandla',
       'Lingalaghanpur', 'Narmetta', 'Palakurthi', 'Raghunathpalle',
       'Tharigoppula', 'Zaffergadh', 'Bhupalpalle', 'Chityal',
       'Ghanapur_Mulug', 'Kataram', 'Mahadevpur', 'Malharrao',
       'Mogullapalle', 'Mutharam_Mahadevpur', 'Palmela', 'Regonda',
       'Tekumatla', 'Aiza', 'Alampur', 'Dharur', 'Gadwal', 'Ghattu',
       'Itikyal', 'Kaloor_Timmanadoddi', 'Maldakal', 'Manopad', 'Rajoli',
       'Undavelli', 'Waddepalle', 'Banswada', 'Bhiknur', 'Bibipet',
       'Bichkunda', 'Birkoor', 'Domakonda', 'Gandhari', 'Jukkal',
       'Kamareddy', 'Lingampet', 'Machareddy', 'Madnur', 'Naga_Reddipet',
       'Nasurullabad', 'Nizamsagar', 'Pedda Kodapgal', 'Pitlam',
       'Rajampet', 'Ramareddy', 'Sadasivanagar', 'Tadwai', 'Yellareddy',
       'Chigurumamidi', 'Choppadandi', 'Ellandakunta', 'Gangadhara',
       'Gannervaram', 'Huzurabad', 'Jammikunta', 'Karimnagar',
       'Karimnagar_Rural', 'Kothapalle', 'Manakondur', 'Ramadugu',
       'Shankarapatnam', 'Thimmapur', 'V_Saidapur', 'Veenavanka',
       'Bonakal', 'Chinthakani', 'Enkuru', 'Kalluru', 'Kamepalle',
       'Khammam_Rural', 'Khammam_Urban', 'Konijerla', 'Kusumanchi',
       'Madhira', 'Mudigonda', 'Nelakondapalle', 'Penuballi',
       'Raghunadhapalem', 'Sathupalle', 'Singareni', 'Thallada',
       'Thirumalayapalem', 'Vemsoor', 'Wyra', 'Yerrupalem', 'Asifabad',
       'Bejjur', 'Chintalamanepally', 'Dahegaon', 'Jainoor', 'Kagaznagar',
       'Kerameri', 'Kouthala', 'Lingapur', 'Penchikalpet', 'Rebbana',
       'Sirpur_T', 'Sirpur_U', 'Tiryani', 'Wankdi', 'Bayyaram',
       'Chinnagudur', 'Danthalapalle', 'Dornakal', 'Ganagavaram', 'Garla',
       'Gudur', 'Kesamudram', 'Kothaguda', 'Kuravi', 'Mahabubabad',
       'Maripeda', 'Narsimhulapet', 'Nellikudur', 'Peddavangara',
       'Thorrur', 'Addakal', 'Balanagar', 'Bhoothpur',
       'Chinna_Chintha_Kunta', 'Devarkadara', 'Gandeed', 'Hanwada',
       'Jadcherla', 'Koilkonda', 'Mahabubnagar_Rural',
       'Mahabubnagar_Urban', 'Midjil', 'Musapet', 'Nawabpet', 'Rajapur',
       'Bellampalle', 'Bheemini', 'Bhimaram', 'Chennur', 'Dandepalle',
       'Hajipur', 'Jaipur', 'Jannaram', 'Kannepalli', 'Kasipet',
       'Kotapalle', 'Luxettipet', 'Mancherial', 'Mandamarri', 'Naspur',
       'Nennal', 'Tandur', 'Vemanpalle', 'Alladurg', 'Chegunta',
       'Chilipched', 'Havelighanpur', 'Kowdipalle', 'Kulcharam',
       'Manoharabad', 'Medak', 'Narsapur', 'Narsingi', 'Nizampet',
       'Papannapet', 'Ramayampet', 'Regode', 'Shankarampet_A',
       'Shankarampet_R', 'Shivampet', 'Tekmal', 'Tupran', 'Yeldurthy',
       'Alwal', 'Bachpalle', 'Dundigal_Gandimaisamma', 'Ghatkesar',
       'Kapra', 'Keesara', 'Kukatpally', 'Malkajgiri', 'Medchel',
       'Medipally', 'Muduchinthalapally', 'Quthbullapur', 'Shamirpet',
       'Uppal', 'Eturunagaram', 'Govindaraopet', 'Kannaigudem',
       'Mangapet', 'Mulug', 'Tadvai', 'Venkatapur', 'Venkatapuram',
       'Wazeed', 'Achampet', 'Amrabad', 'Balmoor', 'Bijinapalle',
       'Charakonda', 'Kalwakurthy', 'Kodair', 'Kollapur', 'Lingal',
       'Nagar_Kurnool', 'Padra', 'Peddakothapalle', 'Pentlavelli',
       'Tadoor', 'Telkapalle', 'Thimmajipeta', 'Uppunuthala', 'Urkonda',
       'Vangoor', 'Veldanda', 'Adavi Devula Palli', 'Anumula_Haliya',
       'Chandampet', 'Chandur', 'Chinthapalle', 'Chityala',
       'Damaracherla', 'Devarakonda', 'Gundlapalle', 'Gurrampode',
       'Kangal', 'Kattangoor', 'Kethepalle', 'Kondamallapally',
       'Madugulapally', 'Marriguda', 'Miryalaguda', 'Munugode',
       'Nakrekal', 'Nalgonda', 'Nampalle', 'Narketpalle', 'Neredugommu',
       'Nidamanur', 'Pedda_Adiserlapalle', 'Peddavura', 'Saligouraram',
       'Thipparthi', 'Thripuraram', 'Tirumalagiri_Sagar', 'Vemulapalle',
       'Damaragidda', 'Dhanwada', 'Kosgi', 'Krishna', 'Maddur',
       'Maganoor', 'Makthal', 'Marikal', 'Narayanpet', 'Narva', 'Utkoor',
       'Basar', 'Bhainsa', 'Dastuarabad', 'Dilawarpur', 'Kaddampeddur',
       'Khanpur', 'Kubeer', 'Kuntala', 'Laxmanchanda', 'Lokeswaram',
       'Mamda', 'Mudhole', 'Narsapur_G', 'Nirmal', 'Nirmal_Rural',
       'Pembi', 'Soan', 'Tanur', 'Armur', 'Balkonda', 'Bheemgal',
       'Bodhan', 'Dharpalle', 'Dichpalle', 'Indalwai', 'Jakranpalle',
       'Kammarpalle', 'Kotgiri', 'Makloor', 'Mendora', 'Mortad', 'Mosra',
       'Mugpal', 'Mupkal', 'Nandipet', 'Navipet', 'Nizamabad_North',
       'Nizamabad_Rural', 'Nizamabad_South', 'Ranjal', 'Rudrur',
       'Sirkonda', 'Vailpur', 'Varni', 'Yeda_Palle', 'Yergatla',
       'Antargoan', 'Dharmaram', 'Elgaid', 'Julapalle', 'Kamanpur',
       'Manthani', 'Mutharam_Manthani', 'Odela', 'Palakurthy',
       'Peddapalle', 'Ramagiri', 'Ramagundam', 'Srirampur', 'Sultanabad',
       'Boinpalle', 'Chandurthi', 'Ellanthakunta', 'Gambhiraopeta',
       'Konaraopeta', 'Mustabad', 'Rudrangi', 'Sirsilla',
       'Thangallapalle', 'Veernapalle', 'Vemulawada', 'Vemulawada_Rural',
       'Yellareddypeta', 'Abdullapurmet', 'Amangal', 'Balapur',
       'Chevella', 'Chowdergudem', 'Farooqnagar', 'Gandipet',
       'Hayathnagar', 'Kadthal', 'Kandukur', 'Keshampeta', 'Kondurg',
       'Kothur', 'Madgul', 'Maheshwaram', 'Manchal', 'Moinabad',
       'Nandigam', 'Rajendranagar', 'Saroornagar', 'Serilingampally',
       'Shabad', 'Shamshabad', 'Shankarpalle', 'Talakondapalle',
       'Yacharam', 'Ameenapur', 'Andhole', 'Gummadidala', 'Hathanoora',
       'Jharasangam', 'Jinnaram', 'Kalher', 'Kandi', 'Kangti', 'Kohir',
       'Kondapur', 'Manoor', 'Mogdampalle', 'Munipalli', 'Nagalgidda',
       'Narayankhed', 'Naykal', 'Patancheruvu', 'Pulkal', 'Raikode',
       'Ramachandrapuram', 'Sadasivpet', 'Sangareddy', 'Sirgapoor',
       'Watpalle', 'Zahirabad', 'Anthakkapeta', 'Bejjanki', 'Cheriyal',
       'Chinnakodur', 'Doultabad', 'Dubbak', 'Gajwel', 'Husnabad',
       'Jagadevpur', 'Koheda', 'Komaravelly', 'Kondapak', 'Markook',
       'Mirdoddi', 'Nanganur', 'Narayanraopet', 'Rayapole',
       'Siddipet_Rural', 'Siddipet_Urban', 'Thoguta', 'Wargal',
       'Ananthagiri', 'Atmakur_S', 'Chilkur', 'Chinthala Palem',
       'Chivvemla', 'Garidepalle', 'Huzur Nagar', 'Jajireddigudem',
       'Kodad', 'Maddirala', 'Mattampalle', 'Mellachervu', 'Mothey',
       'Munagala', 'Nadigudem', 'Nagaram', 'Neredcherla', 'Noothankal',
       'Palakeedu', 'Penpahad', 'Suryapet', 'Thirumalagiri',
       'Thungathurthi', 'Bantwaram', 'Basheerabad', 'Bomraspeta', 'Doma',
       'Doulatabad', 'Kodangal', 'Kotepally', 'Kulkacharla', 'Marpalle',
       'Mominpet', 'Pargi', 'Peddemul', 'Pudur', 'Vikarabad', 'Yelal',
       'Amarchinta', 'Atmakur', 'Chinnambavi', 'Ghanpur', 'Gopalpeta',
       'Kothakota', 'Madanapur', 'Pangal', 'Pebbair', 'Peddamandadi',
       'Revelly', 'Srirangapur', 'Veepangandla', 'Wanaparthy',
       'Chennaraopeta', 'Damera', 'Duggondi', 'Geesugonda', 'Khanapur',
       'Nadikuda', 'Nallabelly', 'Narsampet', 'Nekkonda', 'Parkal',
       'Parvathagiri', 'Raiparthy', 'Sangem', 'Shayampet', 'Wardhannapet',
       'Bheemadevarapalle', 'Dharmasagar', 'Elkathurthi', 'Hanamkonda',
       'Hasanparthy', 'Inole', 'Kamalapur', 'Khazipet', 'Khilla_Warangal',
       'Velair', 'Warangal', 'Addagudur', 'Alair', 'Atmakur_M',
       'Bhongiri', 'Bibinagar', 'Bommalaramaram', 'Choutuppal',
       'Mootakondur', 'Mothkur', 'Narayanapur', 'Pochampalle', 'Rajapet',
       'Ramannapeta', 'Turkapalle_M', 'Valigonda', 'Yadagirigutta'],
      dtype=object)

In [53]:
data[data['District']=='Adilabad'].to_excel('Adilabad.xlsx')
data1[data1['District']=='Adilabad'].to_excel('Adilabad1.xlsx')
data2[data2['District']=='Adilabad'].to_excel('Adilabad2.xlsx')
data3[data3['District']=='Adilabad'].to_excel('Adilabad3.xlsx')
data4[data4['District']=='Adilabad'].to_excel('Adilabad4.xlsx')
data5[data5['District']=='Adilabad'].to_excel('Adilabad5.xlsx')

In [54]:
data[data['District']=='Warangal Urban'].to_excel('Warangal.xlsx')
data1[data1['District']=='Warangal Urban'].to_excel('Warangal1.xlsx')
data2[data2['District']=='Warangal Urban'].to_excel('Warangal2.xlsx')
data3[data3['District']=='Warangal Urban'].to_excel('Warangal3.xlsx')
data4[data4['District']=='Warangal Urban'].to_excel('Warangal4.xlsx')
data5[data5['District']=='Warangal Urban'].to_excel('Warangal5.xlsx')

In [55]:
data[data['District']=='Warangal Urban'].dtypes

District             object
Mandal               object
Date                 object
Rain (mm)           float64
Min Temp (°C)       float64
Max Temp (°C)       float64
Min Humidity (%)    float64
Max Humidity (%)    float64
dtype: object

# MACHINE LEARNING

## Cleaning

In [56]:
data.dtypes

District             object
Mandal               object
Date                 object
Rain (mm)           float64
Min Temp (°C)       float64
Max Temp (°C)       float64
Min Humidity (%)    float64
Max Humidity (%)    float64
dtype: object

In [58]:
a=data.dtypes==object
obj=a[a==True].index
obj=np.array(obj)
obj

array(['District', 'Mandal', 'Date'], dtype=object)

In [60]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
for i in obj:
    data[i]=label.fit_transform(data[i])
    data[i]=label.fit_transform(data[i])

In [ ]:
data1.iterrows

In [69]:
data1

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%)
0,Adilabad,Bheempoor,2021-01-01,0.0,10.1,30.0,37.8,95.7
1,Adilabad,Bheempoor,2021-01-02,0.0,11.7,29.9,40.6,96.6
2,Adilabad,Bheempoor,2021-01-03,0.0,10.4,30.4,45.8,97.0
3,Adilabad,Bheempoor,2021-01-04,0.0,13.1,30.5,38.4,96.4
4,Adilabad,Bheempoor,2021-01-05,0.0,13.4,29.8,50.7,97.0
...,...,...,...,...,...,...,...,...
53005,Narayanpet,Kosgi,2021-03-27,6.0,22.7,38.4,11.9,51.6
53006,Narayanpet,Kosgi,2021-03-28,0.0,22.0,38.7,9.3,73.5
53007,Narayanpet,Kosgi,2021-03-29,0.0,22.1,38.6,9.4,70.1
53008,Narayanpet,Kosgi,2021-03-30,0.0,22.7,40.0,10.1,62.2
53009,Narayanpet,Kosgi,2021-03-31,0.0,22.2,38.6,10.8,63.3

In [72]:
import datetime
t = datetime.datetime(next(data1.iterrows())[2])
t.strftime('%d-%m-%Y')

IndexError: tuple index out of range

In [66]:
data1.dtypes

District                    object
Mandal                      object
Date                datetime64[ns]
Rain (mm)                  float64
Min Temp (°C)              float64
Max Temp (°C)              float64
Min Humidity (%)           float64
Max Humidity (%)           float64
dtype: object

In [62]:
data['Date']

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], dtype=int64)

In [64]:
ad=pd.read_excel('Adilabad-1.xlsx')
ad.dtypes

District            object
Mandal              object
Date                object
Rain (mm)           object
Min Temp (°C)       object
Max Temp (°C)       object
Min Humidity (%)    object
Max Humidity (%)    object
dtype: object