In [1]:
import pandas as pd
import numpy as np

In [9]:
data=pd.read_csv('April_2021.csv')
data

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-Apr-21,0.0,24.4,41.9,10.6,28.8,0.0,10.3
1,Adilabad,Adilabad Rural,02-Apr-21,0.0,26.2,37.7,11.0,26.3,0.0,11.2
2,Adilabad,Adilabad Rural,03-Apr-21,0.0,22.3,38.8,9.5,38.3,0.0,9.4
3,Adilabad,Adilabad Rural,04-Apr-21,0.0,21.3,39.9,7.9,29.2,0.0,6.3
4,Adilabad,Adilabad Rural,05-Apr-21,0.0,24.1,38.7,8.7,45.7,0.0,6.3
...,...,...,...,...,...,...,...,...,...,...
17665,Yadadri Bhuvanagiri,Yadagirigutta,26-Apr-21,0.0,23.7,39.5,26.3,63.8,0.0,6.2
17666,Yadadri Bhuvanagiri,Yadagirigutta,27-Apr-21,0.0,26.0,39.1,19.0,52.2,0.0,5.5
17667,Yadadri Bhuvanagiri,Yadagirigutta,28-Apr-21,0.0,24.9,41.2,18.5,63.4,0.0,7.7
17668,Yadadri Bhuvanagiri,Yadagirigutta,29-Apr-21,0.0,24.9,39.7,27.1,57.3,0.0,1.5
17669,Yadadri Bhuvanagiri,Yadagirigutta,30-Apr-21,0.0,24.0,40.9,21.5,53.2,0.0,5.0

In [11]:
data.dtypes

District                  object
Mandal                    object
Date                      object
Rain (mm)                float64
Min Temp (°C)            float64
Max Temp (°C)            float64
Min Humidity (%)         float64
Max Humidity (%)         float64
Min Wind Speed (Kmph)    float64
Max Wind Speed (Kmph)    float64
dtype: object

In [16]:
data['Date'].str.replace('Apr','4')

0        01-4-21
1        02-4-21
2        03-4-21
3        04-4-21
4        05-4-21
          ...
17665    26-4-21
17666    27-4-21
17667    28-4-21
17668    29-4-21
17669    30-4-21
Name: Date, Length: 17670, dtype: object

In [21]:
data1=pd.read_excel('Jan_to_Mar_2021.xlsx')
data1

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Bheempoor,2021-01-01,0.0,10.1,30.0,37.8,95.7,0.0,3.1
1,Adilabad,Bheempoor,2021-01-02,0.0,11.7,29.9,40.6,96.6,0.0,2.2
2,Adilabad,Bheempoor,2021-01-03,0.0,10.4,30.4,45.8,97.0,0.0,2.2
3,Adilabad,Bheempoor,2021-01-04,0.0,13.1,30.5,38.4,96.4,0.0,2.0
4,Adilabad,Bheempoor,2021-01-05,0.0,13.4,29.8,50.7,97.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...
53005,Narayanpet,Kosgi,2021-03-27,6.0,22.7,38.4,11.9,51.6,NaN,NaN
53006,Narayanpet,Kosgi,2021-03-28,0.0,22.0,38.7,9.3,73.5,NaN,NaN
53007,Narayanpet,Kosgi,2021-03-29,0.0,22.1,38.6,9.4,70.1,NaN,NaN
53008,Narayanpet,Kosgi,2021-03-30,0.0,22.7,40.0,10.1,62.2,NaN,NaN
53009,Narayanpet,Kosgi,2021-03-31,0.0,22.2,38.6,10.8,63.3,NaN,NaN